@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}



#navbar {
    background: linear-gradient(180deg, #2F364B 3.24%, #262B3D 85.73%);
}

.navbar-nav a {
    color: #dfdfdf;
}

.navbar-nav a:hover {
    color: #fff;
}

#btn-primary {
    width: 150px;
    height: 50px;
    border: none;
    background: #00BAC7;
    box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
    border-radius: 100px;
    font-size: 15px;
    color: #F4F7FF;
}

.sudah-terjual {
    color: rgba(255, 255, 255, 0.6);
    ;
}

.jumlah-download {
    margin-left: 35px;
}

.buku-ini {
    color: rgb(235, 235, 235);
    text-align: justify;
}


#kolom-1 {
    margin-top: 90px;
}


img.buku-tailwind {
    filter: drop-shadow(0px 80px 100px rgba(29, 43, 63, 0.4));
}

/* daftar buku */
#daftar-buku {
    background-color: #fff;
}

#text-bukuini {
    margin-top: 29px;
}

#kelas {
    margin-top: 100px;
}

/* Kata Pengantar */

#kata-pengantar {
    background-color: #00BAC7;
    height: 100%;
}

#text-pengantar {
    width: 250px;
}

.text-muhamad {
    left: 70px;
    top: 7px;
    line-height: 10px;
}

/* Manfaat buku */

#manfaat-buku {
    background-color: #EDFCFD;
}

/* Selain itu */

#selain-itu {
    background-color: #EDFCFD;
}

.card-live-demo {
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(2, 40, 43, 0.1);
    border-radius: 15px;
    padding: 10px 20px;
}

/* Pratinjau */

#btn-pratinjau {
    padding: 10px 20px;
    gap: 10px;
    background: #C6F4F8;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #00BAC7;
}



/* Pricing */
#pricing {
    background-color: #272D3E;
}

#btn-pricing {
    padding: 10px 20px;
    gap: 10px;
    background: rgba(198, 244, 248, 0.1);
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #00BAC7;
}

.card {
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.08);
}


/* Buy item */





/* Footer */
footer {
    background-color: #272D3E;
}

#btn-pusat-bantuan {
    padding: 20px 40px;
    border: none;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin-right: 25px;
}


#btn-mendaftar {
    padding: 20px 40px;
    border: none;
    color: white;
    background: #00BAC7;
    box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
    border-radius: 10px;
}







/* Responsive Breakpoints */

@media screen and (max-width:970px) {
    #kata-pengantar {
        height: 100%;
    }

    #text-pengantar {
        width: 100%;
    }

    #tailwind-text {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    #btn-mendaftar {
        padding: 10px 20px;
    }

    #btn-pusat-bantuan {
        padding: 10px 20px;
    }
}

@media screen and (max-width:475px) {
    #banner-2 {
        order: 2;
    }


}